*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split > * {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 15em;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}


.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  font-size: 1.7rem;
  padding: .5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: .25em;
  -webkit-transition: opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out,
 opacity 250ms linear;
  transition: transform 250ms ease-in-out,
 opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .9;
}

.primary-title {
  font-size: 8rem;
  /* font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem); */
  line-height: 1;
  text-transform: uppercase;
  color:rgba(0, 0, 0, 0.89);
  -webkit-text-stroke: 2px white;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.hero {
  color: white;
  text-align: center;
  padding: 20em 0;
  background: #222;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background: url(../img/wang_wagon3.jpg), radial-gradient(rgb(58, 57, 57), rgb(56, 56, 56));
    /* the background, change it to a wagon + wang */
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.featured {
  background: #eee;
}

.featured__item {
  display: block;
  position: relative;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.5;
  /* font-size: 1rem; */
}

.featured__item:hover, .featured__item:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured__item:hover .featured__details, .featured__item:focus .featured__details {
  opacity: 1;
  text-shadow: 0 0 2em white;
}

.featured__item::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 75% 75% 0 0;
  border-radius: 50%;
  background: #2193b0;
  z-index: -1;
}

.featured__details {
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.featured__details span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}

.product {
  background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 5em;
  text-align: center;
}
.product_last {
  background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 5em;
  text-align: center;
}
.product__title {
  font-size: clamp(3rem, calc(5vw + 1rem), 4rem);
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.product__description {
  font-size: 28px;
}

.product__image {
  margin: -5em 0 0 0;
  /* padding: -5em; */
}

@media (min-width: 45em) {
  .product {
    text-align: left;
    margin-bottom: 16em;
  }
  .product_last {
    text-align: left;
    margin-bottom: 5em;
  }
  .product__title {
    margin: 0;
  }
  .product__image {
    float: right;
    width: 60%;
    shape-outside: url(../img/kneel_bell.png);
    shape-margin: 1em;
    margin: -6em -5em 0 0;
  }
  .product.shoe-adjusted .product__image {
    float: right;
    width: 60%;
    shape-outside: url(../img/shoe-2.png);
    margin: -1em 0 0 0;
    shape-margin: 2em;
  }
}

.hero {
  --clr-accent: #faa700;
}

.shoe-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.shoe-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.shoe-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}

.shoe-green {
  --clr-inner: #6ded93;
  --clr-outer: #21b039;
  --clr-accent: #423c91;
}
/*# sourceMappingURL=main.css.map */

.table-title {
  text-align: left;
  font-size: clamp(1rem, calc(5vw + 1rem), 2rem);
  line-height: 1;
  color: #000000;
  margin-bottom: 1rem;
}
.table-subheading {
  text-align: left;
  font-style: italic;
  color: #000000;
  padding: 5px;
}
.table-first_row {
  text-align: left;
  font-style: bold;
  font-size: 1.5rem
}
.table-first_row_cost {
  text-align: right;
  font-style: bold;
  font-size: 1.5rem;
  padding-right: 2rem;
}
.table-item {
padding-left: 1.5rem;
}

.table-cost {
  text-align: right;
  padding-right: 2rem;
  }

.table-info {
  text-align: left;
  font-weight: normal;
}
table{
  width: 1000px
}

table, th, td {
  /*border: 1px solid #000;*/
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #c8f1c8;
}

.tooltip{
  position: relative;
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  position: absolute;
  top: -.25rem;
  left: 35%;
  transform: translateX(-62%) translateY(-100%) scale(var(--scale));
  transition: 100ms transform;
  transform-origin: bottom center;
}

.tooltip::before {
  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: left;
  background: #333;
}

.tooltip:hover::before,
.tooltip:hover::after{
  --scale: 1;
}
